.sugestoes{
    position: relative;
    z-index: 99;
    width: 168px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sugestoes > li:hover{
    background-color: beige;
}