.sugestoes{
    position: relative;
    z-index: 99;
    border: 1px solid #dddddd;
    border-top: none;
    border-radius: 4px 4px 4px 4px;
    list-style-type: none;
    padding: 0; 
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    text-justify: center;
}

.sugestoes > li:hover{
    background-color: rgb(11, 119, 207);
    color: white;
    text-align: center;    
}

.img_poke {
    text-align: center;
    color: red;
}

.pesq_poke{
    text-align: center;
}

.border{
    border: rgb(231, 222, 222);
    border-radius: 5px;
    width: 20%;
    padding: 10px;
}

.bordername{
    border: rgb(231, 222, 222);
    border-radius: 8px;
    width: 45%;
    padding: 10px;
    text-align: center;
}

.EspacoAlinha{
    margin-left: 15px;
    display: inline-block;
}

.box_align{
    text-align: center;
}

.borda1{
    border: 5px solid white;
    border-radius: 20px;
    width: 30%;
    padding: 15px;
    margin-left: 75px;
    background-color: white;
    display: inline-block;
}

.Navbar{
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.active{
    background-color:black;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #f0f0f0;
    padding: 0;
}

.iframe-container iframe {
    border: 5px outset black; 
    border-radius: 5px;    
}

.bordaDesc{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin: 20px;
    border: 5px solid white;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
}