* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
}

.sugestoes{
    position: relative;
    z-index: 1;
    border: 2px solid #dddddd;
    border-radius: 4px 4px 4px 4px;
    list-style-type: none;
    padding: 0; 
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    text-justify: center;
    border-color: rgb(67, 67, 67);
    background-color: white;
}

.sugestoes > li:hover{
    background-color: rgb(11, 119, 207);
    color: white;
    text-align: center;    
}

.img_poke {
    text-align: center;
    color: red;
}

#pokemon_imagem {
  margin-top: 25px;
  width: 30em;
  height: auto;
}

.pesq_poke{
  margin-top: 0px;
  padding: 25px;
  background-color: #2d3142;
  color: white;
  text-align: center;
}

.border{
    border: rgb(231, 222, 222);
    border-radius: 5px;
    width: 20%;
    padding: 10px;
}

.bordername{
    border: rgb(231, 222, 222);
    border-radius: 8px;
    width: 45%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 38px;
}


.box_align{
  text-align: center;
}

.borda1{
  border: 5px solid white;
  border-radius: 20px;
  width: 30%;
  padding: 15px;
  margin-left: 75px;
  background-color: white;
  display: inline-block;
}

.div_center
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgray;
}

.pokemon_stats {
  justify-items: center;
  margin: 40px 30px 40px 30px;
}

.pokemon_stats>table {
  width: 100%;
  max-width: 400px;
  overflow-x: auto;
}

.stats_name,
.stats_value,
.stats_bar {
  color: black;
  text-align: start;
}

.stats_bar {
  accent-color: rgb(123, 0, 15);
}

.EspacoAlinha{
    margin-left: 37vh;
    display: inline-block;
    width: 126px;
}

.bordaCampoNome {
    border: 5px solid white;
    border-radius: 20px;
    width: 38%;
    padding: 15px;
    margin-left: -2vh; /* Reduzido para um alinhamento melhor */
    background-color: white;
    display: inline-block;
    vertical-align: middle; /* Alinha verticalmente ao texto */
    text-align: center;
}

.bordaCampoNome2 {
    border: 5px solid white;
    border-radius: 20px;
    width: 30.5%;
    padding: 15px;
    margin-left: 4vh; /* Reduzido para um alinhamento melhor */
    background-color: white;
    display: inline-block;
    vertical-align: middle; /* Alinha verticalmente ao texto */
    text-align: center;
}

.bordaCampoNome3 {
    border: 5px solid white;
    border-radius: 20px;
    width: 30.5%;
    padding: 15px;
    margin-left: 4vh; /* Reduzido para um alinhamento melhor */
    background-color: white;
    display: inline-block;
    vertical-align: middle; /* Alinha verticalmente ao texto */
    text-align: center;
}

.Navbar{

ul {  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e71d36;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
}

header {
  top: 0;
  position: sticky;
  z-index: 2;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #292d3b;

}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 0;
}

.iframe-container iframe {
    border: 5px outset black; 
    border-radius: 5px;    
}

.bordaDesc{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin: 20px;
    border: 5px solid white;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
}

@media (max-width: 1024px) {
  .EspacoAlinha {
    margin-left: 15vh;
    width: 90px;
  }

  .bordaCampoNome {
    margin-left: 4vh; /* Reduzido para um alinhamento melhor */
  }

  .bordaCampoNome2 {
    margin-left: 8vh; /* Reduzido para um alinhamento melhor */
  }

  .bordaCampoNome3 {
    margin-left: 8vh; /* Reduzido para um alinhamento melhor */
  }
}

/* Para telas menores que 768px (como celulares em paisagem) */
@media (max-width: 768px) {
  .EspacoAlinha{
    margin-left: 6vh;
    display: inline-block;
    width: 90px;
    word-wrap: break-word;
  }

  .bordaCampoNome {
    margin-left: 6vh; /* Reduzido para um alinhamento melhor */
  }

  .bordaCampoNome2 {
    margin-left: 9vh; /* Reduzido para um alinhamento melhor */
  }

  .bordaCampoNome3 {
    margin-left: 9vh; /* Reduzido para um alinhamento melhor */
  }

  #pokemon_imagem{
    width: 20em;
    height: auto;
  }

  .bordername
  {
    line-height: 20px;
  }
}

/* Para telas muito pequenas (como celulares em retrato) */
@media (max-width: 480px) {
  .bordername
  {
    line-height: 10px;
    word-wrap: break-word;
  }

  .EspacoAlinha{
    margin-left: 3vh;
    display: inline-block;
    font-size: 1em;
    width: 88px;
    word-wrap: break-word;
  }

  .bordaCampoNome {
    display: inline-block;
    margin-left: 2vh; /* Reduzido para um alinhamento melhor */
  }

  .bordaCampoNome2 {
    margin-left: 4vh; /* Reduzido para um alinhamento melhor */
  }

  .bordaCampoNome3 {
    margin-left: 4vh; /* Reduzido para um alinhamento melhor */
  }

  #pokemon_imagem{
    width: 14em;
    height: auto;
  }
}